#!/bin/bash
# Awatsuki DPS - Automated Anime Downloader

# CrunchyRoll
cr_watch="watchlist.cr"
cr_user=""
cr_pass=""
cr_base="http://www.crunchyroll.com"
#FunimationNow
funi_watch="watchlist.funi"
funi_user=""
funi_pass=""
#Storage - For funimation you need to symbolicly link the tmp folder to Videos folder in funi downloader
stor="~/Videos/"
tmp="/tmp/"
#Exec
exec_crunchy=crunchy
exec_funidl=/opt/funimation-downloader-nx/scripts/funidl.js
